################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MDAN Fansub News/MDAN App Base/bin
/MDAN Fansub News/MDAN App Base/obj
/MDAN Fansub News/MDAN Fansub News/AppPackages/MDAN Fansub News_2.4.19.0_Test
/MDAN Fansub News/MDAN Fansub News/AppPackages/MDAN Fansub News_2.4.20.0_Test
/MDAN Fansub News/MDAN Fansub News/AppPackages/MDAN Fansub News_2.4.21.0_Test/Add-AppDevPackage.resources
/MDAN Fansub News/MDAN Fansub News/AppPackages/MDAN Fansub News_2.4.21.0_Test/Dependencies
/MDAN Fansub News/MDAN Fansub News/AppPackages/MDAN Fansub News_2.4.21.0_Test
/MDAN Fansub News/MDAN Fansub News/AppPackages
/MDAN Fansub News/MDAN Fansub News/bin
/MDAN Fansub News/MDAN Fansub News/BundleArtifacts
/MDAN Fansub News/MDAN Fansub News/obj
/MDAN Fansub News/Mdan.Background/bin
/MDAN Fansub News/Mdan.Background/obj
/MDAN Fansub News/MDANBack/bin
/MDAN Fansub News/MDANBack/obj
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.2
/MDAN Revamp/MDAN Revamp/AppPackages
/MDAN Revamp/MDAN Revamp/bin
/MDAN Revamp/MDAN Revamp/obj
/MDAN Revamp/MDANBack/obj
/MDAN Revamp/MDANBack/bin
/MDAN Revamp/packages/NotificationsExtensions.UniversalApps.1.0.3
/MDAN Revamp/MDAN Revamp/BundleArtifacts
/MDAN Fansub News/MDAN Fansub Android/obj/Debug
/MDAN Fansub News/MDAN Fansub Android/obj/Release
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/tools
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net45
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net40
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net35
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net20
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/tools
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net45
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net40
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net35
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib/net20
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3/lib
/MDAN Fansub News/packages/Newtonsoft.Json.10.0.3
/MDAN Fansub News/.vs/MDAN Fansub News/v15/sqlite3/storage.ide
